DMML-A1-ADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DMML-A1-ADF"
		},
		"DMML_A1_DBX_LS_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'DMML_A1_DBX_LS'"
		},
		"DMML_A1_ADLS_LS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DMML_A1_ADLS_LS'"
		},
		"DMML_A1_DBX_LS_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0301-165526-tsnb6fvu"
		},
		"DMML_A1_ADLS_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dmmla1adls.dfs.core.windows.net/"
		},
		"DMML_A1_AML_LS_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "9860037c-e3ac-41f5-a8e8-5d282d9693b2"
		},
		"DMML_A1_AML_LS_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "DMML_Assignment_1"
		},
		"DMML_A1_AML_LS_properties_typeProperties_mlWorkspaceName": {
			"type": "string",
			"defaultValue": "DMML-A1-AML"
		},
		"DMML_A1_GitHub_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DMML_A1_DBX_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1096018181043595.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('DMML_A1_DBX_LS_accessToken')]"
					},
					"existingClusterId": "[parameters('DMML_A1_DBX_LS_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DMML_A1_ADLS_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DMML_A1_ADLS_LS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DMML_A1_ADLS_LS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DMML_A1_AML_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "[parameters('DMML_A1_AML_LS_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('DMML_A1_AML_LS_properties_typeProperties_resourceGroupName')]",
					"mlWorkspaceName": "[parameters('DMML_A1_AML_LS_properties_typeProperties_mlWorkspaceName')]",
					"authentication": "MSI"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DMML_A1_GitHub_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('DMML_A1_GitHub_LS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DMML_A1_GitHub_Source_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DMML_A1_GitHub_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "OmkarBITS/DMML_Assignment_1/refs/heads/main/Banking_Customer_Churn_Data_GitHub.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DMML_A1_GitHub_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DMML_A1_GitHub_Target_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DMML_A1_ADLS_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Customer_Churn_Data_GItHub.csv",
						"folderPath": "Raw_data",
						"fileSystem": "dmmla1adlscont"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DMML_A1_ADLS_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dmml_a1_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestDataFromAPIs",
						"description": "Ingest the Data from GitHub to ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								},
								"url": "https://raw.githubusercontent.com/user/repo/main/data.csv"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								},
								"blobPath": "bronze/raw_data.csv"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DMML_A1_GitHub_Source_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DMML_A1_GitHub_Target_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"linkedServiceName": {
							"referenceName": "DMML_A1_ADLS_LS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Aggregation_Gold_Layer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "DataValidation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/2023ac05085@wilp.bits-pilani.ac.in/Data Aggregation and EDA"
						},
						"linkedServiceName": {
							"referenceName": "DMML_A1_DBX_LS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TrainAndModelPrediction",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [
							{
								"activity": "Aggregation_Gold_Layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mlExecutionType": "pipeline",
							"continueOnStepFailure": true,
							"mlPipelineEndpointId": "22ff7832-f94f-4233-9632-cd6bc9ffcd74"
						},
						"linkedServiceName": {
							"referenceName": "DMML_A1_AML_LS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DataIngestionKaggle",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "IngestDataFromAPIs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "/Users/2023ac05085@wilp.bits-pilani.ac.in/data_ingestion.py",
							"parameters": [
								"0"
							]
						},
						"linkedServiceName": {
							"referenceName": "DMML_A1_DBX_LS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DataValidation",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "DataCleaning",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "/Users/2023ac05085@wilp.bits-pilani.ac.in/data_validation.py",
							"parameters": []
						},
						"linkedServiceName": {
							"referenceName": "DMML_A1_DBX_LS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DataCleaning",
						"description": "Clean of the raw data ingested into the ADLS",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "DataIngestionKaggle",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "/Users/2023ac05085@wilp.bits-pilani.ac.in/data_cleaning.py",
							"parameters": []
						},
						"linkedServiceName": {
							"referenceName": "DMML_A1_DBX_LS",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DMML_A1_GitHub_Source_DS')]",
				"[concat(variables('factoryId'), '/datasets/DMML_A1_GitHub_Target_DS')]",
				"[concat(variables('factoryId'), '/linkedServices/DMML_A1_DBX_LS')]",
				"[concat(variables('factoryId'), '/linkedServices/DMML_A1_AML_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger for the ADF Pipeline for Daily data load from the sources",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dmml_a1_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-03-12T17:04:00",
						"timeZone": "India Standard Time",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dmml_a1_pipeline')]"
			]
		}
	]
}